<div class="header__container container">
  <a class="header__logo logo link" href="">
    <svg class="logo__icon">
      <use href="./images/logo+chevron.svg#icon-logo"></use>
    </svg>
    <span class="logo__txt">antools.</span>
  </a>
  <nav class="heder__nav side-nav">
    <ul class="side-nav__list list">
      <li class="side-nav__item">
        <a class="side-nav__link link" href="">Home</a>
      </li>
      <li class="side-nav__item">
        <a class="side-nav__link link" href=""
          >Categories
          <svg class="side-nav__chevrone">
            <use href="./images/logo+chevron.svg#icon-chevron-down"></use></svg
        ></a>
      </li>
      <li class="side-nav__item">
        <a class="side-nav__link link" href="">My Collections</a>
      </li>
      <li class="side-nav__item">
        <a class="side-nav__link link" href="">Blog</a>
      </li>
    </ul>
  </nav>
  <div class="header__login login">
    <button class="login__btn login__btn--inv" type="button">Login</button>
    <button class="login__btn" type="button">Sign Up</button>
  </div>
</div>
