<section class="hiro">
  <div class="hiro__container container">
    <h1 class="hiro__titel">
      Awesome tools for <br />
      Designer & Developer<span class="hiro__titel--orang">.</span>
    </h1>
    <p class="hiro__txt">
      Antool is a web collection of information on paid or <br />
      free Design and Development tools
    </p>
    <form class="hiro__form form">
      <svg class="form__icon">
        <use href="./images/social-link.svg#icon-search"></use>
      </svg>
      <input
        type="text"
        class="form__input"
        placeholder="find more than 430+ tools..."
      />
      <button type="button" class="form__btn">Search</button>
    </form>
    <ul class="hiro__social-link social-link list">
      <li class="social-link__item">
        <a href="" class="social-link__link link">
          <svg class="social-link__icon">
            <use href="./images/social-link.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-link__item">
        <a href="" class="social-link__link link">
          <svg class="social-link__icon">
            <use href="./images/social-link.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-link__item">
        <a href="" class="social-link__link link">
          <svg class="social-link__icon">
            <use href="./images/social-link.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
