<section class="tools">
  <div class="tools__container container">
    <h2 class="tools__titel">Most Popular Tools</h2>
    <p class="tools__txt">
      Tools for the best Designers and Developers most popularly used in the
      world
    </p>
    <ul class="tools__list list">
      <li class="tools__item">
        <div class="tools__card card">
          <svg class="card__icon">
            <use href="./images/tools.svg#icon-figma"></use>
          </svg>
          <h3 class="card__name">FIGMA</h3>
          <p class="card__application">Free</p>
          <p class="card__txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="card__footer">
            <button class="card__like" type="button">
              <svg class="card__like-icon">
                <use href="./images/tools.svg#icon-like"></use>
              </svg>
            </button>
            <button class="card__folder" type="button">
              <svg class="card__folder-icon">
                <use href="./images/tools.svg#icon-folder-plus"></use>
              </svg>
            </button>
            <button class="card__btn" type="button">Visit</button>
          </div>
        </div>
      </li>
      <li class="tools__item">
        <div class="tools__card card">
          <svg class="card__icon">
            <use></use>
          </svg>
          <h3 class="card__name"></h3>
          <p class="card__application"></p>
          <p class="card__txt"></p>
          <div class="card__footer">
            <button class="card__like" type="button">
              <svg class="card__icon-like">
                <use></use>
              </svg>
            </button>
            <button class="card__folder" type="button">
              <svg class="card__folder-icon">
                <use></use>
              </svg>
            </button>
            <button class="card__btn" type="button"></button>
          </div>
        </div>
      </li>
      <li class="tools__item">
        <div class="tools__card card">
          <svg class="card__icon">
            <use></use>
          </svg>
          <h3 class="card__name"></h3>
          <p class="card__application"></p>
          <p class="card__txt"></p>
          <div class="card__footer">
            <button class="card__like" type="button">
              <svg class="card__icon-like">
                <use></use>
              </svg>
            </button>
            <button class="card__folder" type="button">
              <svg class="card__folder-icon">
                <use></use>
              </svg>
            </button>
            <button class="card__btn" type="button"></button>
          </div>
        </div>
      </li>
      <li class="tools__item">
        <div class="tools__card card">
          <svg class="card__icon">
            <use></use>
          </svg>
          <h3 class="card__name"></h3>
          <p class="card__application"></p>
          <p class="card__txt"></p>
          <div class="card__footer">
            <button class="card__like" type="button">
              <svg class="card__icon-like">
                <use></use>
              </svg>
            </button>
            <button class="card__folder" type="button">
              <svg class="card__folder-icon">
                <use></use>
              </svg>
            </button>
            <button class="card__btn" type="button"></button>
          </div>
        </div>
      </li>
      <li class="tools__item">
        <div class="tools__card card">
          <svg class="card__icon">
            <use></use>
          </svg>
          <h3 class="card__name"></h3>
          <p class="card__application"></p>
          <p class="card__txt"></p>
          <div class="card__footer">
            <button class="card__like" type="button">
              <svg class="card__icon-like">
                <use></use>
              </svg>
            </button>
            <button class="card__folder" type="button">
              <svg class="card__folder-icon">
                <use></use>
              </svg>
            </button>
            <button class="card__btn" type="button"></button>
          </div>
        </div>
      </li>
      <li class="tools__item">
        <div class="tools__card card">
          <svg class="card__icon">
            <use></use>
          </svg>
          <h3 class="card__name"></h3>
          <p class="card__application"></p>
          <p class="card__txt"></p>
          <div class="card__footer">
            <button class="card__like" type="button">
              <svg class="card__icon-like">
                <use></use>
              </svg>
            </button>
            <button class="card__folder" type="button">
              <svg class="card__folder-icon">
                <use></use>
              </svg>
            </button>
            <button class="card__btn" type="button"></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
