<section class="tools">
  <div class="tools__container container">
    <h2 class="tools__titel">Most Popular Tools</h2>
    <p class="tools__txt">
      Tools for the best Designers and Developers <br />
      most popularly used in the world
    </p>
    <ul class="tools__list list">
      <li class="tools__item">
        <div class="tools__card card">
          <div class="card__hiro">
            <svg class="card__icon">
              <use href="./images/tools.svg#icon-figma"></use>
            </svg>
            <div>
              <h3 class="card__name">FIGMA</h3>
              <p class="card__application">Free</p>
            </div>
          </div>
          <p class="card__txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="card__footer">
            <div>
              <button class="card__like" type="button">
                <svg class="card__like-icon">
                  <use href="./images/tools.svg#icon-like"></use>
                </svg>
              </button>
              <button class="card__folder" type="button">
                <svg class="card__folder-icon">
                  <use href="./images/tools.svg#icon-folder-plus"></use>
                </svg>
              </button>
            </div>
            <button class="card__btn" type="button">Visit</button>
          </div>
        </div>
      </li>
      <li class="tools__item">
        <div class="tools__card card">
          <div class="card__hiro">
            <svg class="card__icon">
              <use href="./images/tools.svg#icon-sketch"></use>
            </svg>
            <div>
              <h3 class="card__name">Sketch</h3>
              <p class="card__application">Trial & Paid</p>
            </div>
          </div>
          <p class="card__txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="card__footer">
            <div>
              <button class="card__like" type="button">
                <svg class="card__like-icon">
                  <use href="./images/tools.svg#icon-like"></use>
                </svg>
              </button>
              <button class="card__folder" type="button">
                <svg class="card__folder-icon">
                  <use href="./images/tools.svg#icon-folder-plus"></use>
                </svg>
              </button>
            </div>
            <button class="card__btn" type="button">Visit</button>
          </div>
        </div>
      </li>
      <li class="tools__item">
        <div class="tools__card card">
          <div class="card__hiro">
            <svg class="card__icon">
              <use href="./images/tools.svg#icon-vs-code"></use>
            </svg>
            <div>
              <h3 class="card__name">Visual Studio Code</h3>
              <p class="card__application">Free</p>
            </div>
          </div>
          <p class="card__txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="card__footer">
            <div>
              <button class="card__like" type="button">
                <svg class="card__like-icon">
                  <use href="./images/tools.svg#icon-like"></use>
                </svg>
              </button>
              <button class="card__folder" type="button">
                <svg class="card__folder-icon">
                  <use href="./images/tools.svg#icon-folder-plus"></use>
                </svg>
              </button>
            </div>
            <button class="card__btn" type="button">Visit</button>
          </div>
        </div>
      </li>
      <li class="tools__item">
        <div class="tools__card card">
          <div class="card__hiro">
            <svg class="card__icon">
              <use href="./images/tools.svg#icon-notion"></use>
            </svg>
            <div>
              <h3 class="card__name">Notion</h3>
              <p class="card__application">Trial & Paid</p>
            </div>
          </div>
          <p class="card__txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="card__footer">
            <div>
              <button class="card__like" type="button">
                <svg class="card__like-icon">
                  <use href="./images/tools.svg#icon-like"></use>
                </svg>
              </button>
              <button class="card__folder" type="button">
                <svg class="card__folder-icon">
                  <use href="./images/tools.svg#icon-folder-plus"></use>
                </svg>
              </button>
            </div>
            <button class="card__btn" type="button">Visit</button>
          </div>
        </div>
      </li>
      <li class="tools__item">
        <div class="tools__card card">
          <div class="card__hiro">
            <svg class="card__icon">
              <use href="./images/tools.svg#icon-slack"></use>
            </svg>
            <div>
              <h3 class="card__name">Slack</h3>
              <p class="card__application">Trial & Paid</p>
            </div>
          </div>
          <p class="card__txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="card__footer">
            <div>
              <button class="card__like" type="button">
                <svg class="card__like-icon">
                  <use href="./images/tools.svg#icon-like"></use>
                </svg>
              </button>
              <button class="card__folder" type="button">
                <svg class="card__folder-icon">
                  <use href="./images/tools.svg#icon-folder-plus"></use>
                </svg>
              </button>
            </div>
            <button class="card__btn" type="button">Visit</button>
          </div>
        </div>
      </li>
      <li class="tools__item">
        <div class="tools__card card">
          <div class="card__hiro">
            <svg class="card__icon">
              <use href="./images/tools.svg#icon-invision"></use>
            </svg>
            <div>
              <h3 class="card__name">Invision</h3>
              <p class="card__application">Trial & Paid</p>
            </div>
          </div>
          <p class="card__txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="card__footer">
            <div>
              <button class="card__like" type="button">
                <svg class="card__like-icon">
                  <use href="./images/tools.svg#icon-like"></use>
                </svg>
              </button>
              <button class="card__folder" type="button">
                <svg class="card__folder-icon">
                  <use href="./images/tools.svg#icon-folder-plus"></use>
                </svg>
              </button>
            </div>
            <button class="card__btn" type="button">Visit</button>
          </div>
        </div>
      </li>
    </ul>
    <button class="tools__btn" type="button">Load more</button>
  </div>
</section>
